
body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blue {
    background-color: rgb(103, 103, 240);
    padding: 20px;
}

.yo {
    background-color: rgb(255, 230, 160);
    padding: 20px;
    margin: 10px;
    display: flex;
}

.red {

    padding-right: 80px;
}

.flex {
    display: flex;
}

    .green {
        padding-bottom: 80px;
    }